@import "tailwindcss";
/* Code by Hamza */

/* blank Magic  */
/* Custom Modern Scrollbar */
.custom-scrollbar2::-webkit-scrollbar {
    height: 6px; 
  }
  
  .custom-scrollbar2::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    border-radius: 10px;
  }
  
  .custom-scrollbar2::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #4a90e2, #007bff); 
    border-radius: 10px;
  }
  
  .custom-scrollbar2::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #007bff, #0056b3); 
    cursor: pointer;
  }


/* Custom Modern Scrollbar 2*/
.custom-scrollbar::-webkit-scrollbar {
    height: 6px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f9f9f9; 
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #D1D1D1; 
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5; 
    cursor: pointer;
  }
  